.faq-item {
}

.faq-question {
  width: 100%;
  background: transparent;
  border: none;
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  background-color: #eeddbd; 
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: var(--font-secondary); /* Olive */
  text-align: left;
  padding: 1rem 6rem;
}

.arrow-icon {
  transition: transform 0.3s ease;
  color: var(--font-light); /* Terracotta */
}

.arrow-icon.open {
  transform: rotate(180deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  background-color: #cca180;
  color: #6e4a2e;
  font-size: 2rem;
  line-height: 1.6;
  border-radius: 8px;
  text-align: left;
  margin-top: 0.5rem;
  padding: 0 1.5rem; /* horizontal padding added */
}

.faq-answer.visible {
  max-height: 500px;
  padding: 1.5rem; /* vertical and horizontal padding */
}

.faq-separator {
  border: none;
  height: 1px;
  background-color: rgba(110, 74, 46, 0.2);
}
.faq-container {
  background-color: #eeddbd; 
  padding: 0.5rem 6rem;
}


.heading{
  font-family: 'Avenir', sans-serif;
  font-size: 6em;
  color: #6c6142;
  padding: 40px 0;
  background-color: #eeddbd; 
  text-align: center;
  text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.3); /* Drop shadow at -45° */
  margin: 0px;
}