.features-page{
  background-color: #cca180;
  padding: 60px 20px;
  text-align: center;
}

.features-heading {
  font-family: 'Avenir', sans-serif;
  font-size: 6em;
  color: #6c6142;
  margin-bottom: 40px;
  text-align: center;
  text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.3); /* Drop shadow at -45° */
}

